# Linear Regression

Vamos a intentar predecir a que hora va a pasasar el omnibus en base a la distancia a la que se encuentra.

In [4]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/dataset.csv')
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

,id,line,longitude,latitude,timestamp,next_longitude,next_latitude,next_timestamp,distance,time,speed,matrix_position
0,76,217,-56.222400,-34.855885,2018-10-02 14:38:53,-56.222717,-34.855766,2018-10-02 14:39:23,31.807877,30.0,1.060263,"[8, 4]"
1,76,217,-56.222717,-34.855766,2018-10-02 14:39:23,-56.222733,-34.855780,2018-10-02 14:39:53,2.134200,30.0,0.071140,"[8, 4]"
2,76,217,-56.222733,-34.855780,2018-10-02 14:39:53,-56.222916,-34.855682,2018-10-02 14:40:08,19.939152,15.0,1.329277,"[8, 4]"
3,76,217,-56.222916,-34.855682,2018-10-02 14:40:08,-56.222866,-34.855682,2018-10-02 14:40:23,4.562295,15.0,0.304153,"[8, 4]"
4,76,217,-56.222866,-34.855682,2018-10-02 14:40:23,-56.222850,-34.855667,2018-10-02 14:40:38,2.216614,15.0,0.147774,"[8, 4]"

Para esto solo vamos a utilizar la distancia, velocidad y el tiempo

In [7]:
data = data.drop['id','line','longitude','latitude','timestamp','next_longitude','next_latitude','next_timestamp','speed','matrix_position']

TypeError: 'method' object is not subscriptable