# Missing Values

In [4]:
import pandas as pd
from datetime import datetime

Al guardar el dataset en la secci√≥n anterior, pandas agrega una columna `Unnamed: 0` con los indices de las filas, esta columna no nos es util por lo cual la eliminamos al cargar el dataset

In [5]:
stage_1_data = pd.read_csv('../data/bus_data_stage_1.csv')
stage_1_data = stage_1_data.drop(['Unnamed: 0'], axis=1)
stage_1_data.head()

     id  line  longitude   latitude            timestamp
0    76   217 -56.222400 -34.855885  2018-10-02 14:38:53
1   984   540 -56.201860 -34.909360  2018-10-02 14:39:08
2   288  7898 -56.175415 -34.901110  2018-10-02 14:39:08
3  1111   254 -56.136640 -34.872833  2018-10-02 14:39:08
4    22   540 -56.135277 -34.845554  2018-10-02 14:39:08

Vemos los diferentes tipos de datos con los que estamos trabajando

In [8]:
stage_1_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96496 entries, 0 to 96495
Data columns (total 5 columns):
id           96496 non-null int64
line         96496 non-null int64
longitude    96496 non-null float64
latitude     96496 non-null float64
timestamp    96496 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 3.7+ MB

Vemos algunas medidas estadisticas de los datos

In [7]:
stage_1_data.describe()

                 id          line     longitude      latitude
count  96496.000000  96496.000000  96496.000000  96496.000000
mean     348.944153   2671.002933    -56.147596    -34.875496
std      368.219358   3113.855989      0.038840      0.029654
min        2.000000    217.000000    -56.256016    -34.928585
25%       53.000000    266.000000    -56.174942    -34.900887
50%      110.000000    565.000000    -56.148083    -34.881416
75%      709.000000   7516.000000    -56.128693    -34.863860
max     1111.000000   7929.000000    -55.995388    -34.715830

![Montevideo](../images/montevideo.png)

Sabemos que montevideo esta contenido en una _Bounding Box_ con las siguientes coordenadas:

Izquierda: **-34.8304**, -56.4320

Derecha  : **-34.8792**, -56.0224

Arriba   : -34.7018, **-56.3156**

Abajo    : -34.9380, **-56.1606**

In [37]:
UPPER_BOUND, LOWER_BOUND, RIGHT_BOUND, LEFT_BOUND = [-56.3156, -56.1606, -34.8792,  -34.8304]
max_lat = stage_1_data.latitude.max()
min_lat = stage_1_data.latitude.min()
max_lon = stage_1_data.longitude.max()
min_lon = stage_1_data.longitude.min()
print('Max Latitude: {0}\nMin Latitude: {1}\nMax Longitude: {2}\nMin Longitude: {3}\n'
      .format(max_lat, min_lat, max_lon, min_lon))
print('Latitude upper bound is OK') if max_lat <= UPPER_BOUND else print('Latitude upper bound is WRONG\nDifference: {0}\n'
                                                                         .format(abs(UPPER_BOUND-max_lat)))
print('Latitude lower bound is OK') if min_lat <= LOWER_BOUND else print('Latitude lower bound is WRONG\nDifference: {0}\n'
                                                                         .format(abs(LOWER_BOUND-min_lat)))
print('Latitude right bound is OK') if max_lon <= RIGHT_BOUND else print('Latitude right bound is WRONG\nDifference: {0}\n'
                                                                         .format(abs(RIGHT_BOUND-max_lon)))
print('Latitude left  bound is OK') if min_lon <= LEFT_BOUND  else print('Latitude left  bound is WRONG\nDifference: {0}\n'
                                                                         .format(abs(LEFT_BOUND -min_lon)))

Max Latitude: -34.71583
Min Latitude: -34.928585
Max Longitude: -55.995388
Min Longitude: -56.256016

Latitude upper bound is WRONG
Difference: 21.599770000000007

Latitude lower bound is WRONG
Difference: 21.232015000000004

Latitude right bound is OK
Latitude left  bound is OK

In [46]:
print(max_lat,'\n',min_lat)
upper_bound_violation = stage_1_data[stage_1_data.latitude==-34.71583]
lower_bound_violation = stage_1_data[stage_1_data.latitude==-34.928585]

-34.71583
 -34.928585

In [47]:
upper_bound_violation.head()

         id  line  longitude  latitude            timestamp
61557  1014   522 -56.148420 -34.71583  2018-10-02 16:36:56
61661  1014   522 -56.148445 -34.71583  2018-10-02 16:37:11

![Montevideo](../images/upper_bound_violation.png)

Efectivamente esta fuera de Montevideo pero podemos dejarlo ya que no es un outlier

In [48]:
lower_bound_violation.head()

        id  line  longitude   latitude            timestamp
47195  174  7516  -56.16155 -34.928585  2018-10-02 16:08:40
76014  258  7517  -56.16155 -34.928585  2018-10-02 17:06:57

In [49]:
##################TODO###################
# Encontrar porque el segundo bound cae #
# dentro de montevideo y es considerado #
# otulier                               #
#########################################
#https://www.openstreetmap.org/search?whereami=1&query=-34.9380%2C-56.1603#map=16/-34.9380/-56.1603