# Missing Values

In [1]:
import pandas as pd
from datetime import datetime

Al guardar el dataset en la secci√≥n anterior, pandas agrega una columna `Unnamed: 0` con los indices de las filas, esta columna no nos es util por lo cual la eliminamos al cargar el dataset

In [7]:
stage_1_data = pd.read_csv('../data/bus_data_stage_1.csv')
stage_1_data = stage_1_data.drop(['Unnamed: 0'], axis=1)
stage_1_data.head()

     id  line  longitude   latitude            timestamp
0    76   217 -56.222400 -34.855885  2018-10-02 14:38:53
1   984   540 -56.201860 -34.909360  2018-10-02 14:39:08
2   288  7898 -56.175415 -34.901110  2018-10-02 14:39:08
3  1111   254 -56.136640 -34.872833  2018-10-02 14:39:08
4    22   540 -56.135277 -34.845554  2018-10-02 14:39:08